<tr>
  <td></td>
  <td><%= game.id %></td>
  <td><%= game.winning_throw.user.name %></td>
  <td><%= game.winning_throw.token.name %> beats <%= game.losing_throw.token.name %></td>
  <td><%= game.losing_throw.user.name %></td>
</tr>
