<h1> Rock Paper Scissors </h1>

  <body>
    <form action="/games/<%= game.id %>/user_1_name" method="post">
      <input type="hidden" name="_method" value="put">
        <input type="text" name="user_1_name" value="player 1">
      <input type="submit">
    </form>
    <% unless game.user_1_choice %>
      <% tokens.each do |token| %>
        <form action="/games/<%= game.id %>/user_1_choice_ID" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="user_1_choice_ID" value="<%= token.id %>">
          <input type="submit" value="<%= token.name %>">
        </form>
      <% end %>
    <% end %>

    <form action="/games/<%= game.id %>/user_2_name" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="user_2_name" value="player 2">
      <input type="submit">
    </form>
    <% unless game.user_2_choice %>
      <% tokens.each do |token| %>
        <form action="/games/<%= game.id %>/user_2_choice_ID" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="user_2_choice_ID" value="<%= token.id %>">
          <input type="submit" value="<%= token.name %>">
        </form>
      <% end %>
    <% end %>


  </body>

