<form action='/game' method='post'>
  <% @users.each do |user| %>
  <input type="hidden" name="user<%= user.id%>" value="<%= user.id %>">
  <% end %>

<!-- Tried to loop users and then inside loop tokens but "name=" wouldn't work because I need to have three that are token 1 and three that are token 2 -->
  <h1>Player 1: Pick a move!</h1>
    <% @tokens.each do |token| %>
      <p>
        <img src="/imgs/<%= token.name%>.png">
        <input type="radio" name="token1" value="<%= token.id %>"/>
      </p>
      <br>
    <% end %>

  <h1>Player 2: Pick a move!</h1>
    <% @tokens.each do |token| %>
      <p>
        <img src="/imgs/<%= token.name%>.png">
        <input type="radio" name="token2" value="<%= token.id %>"/>
      </p>
      <br>
    <% end %>
  <input type="submit" value="BATTLE"/>
</form>