<h1>Players, Make Your Choice!</h1>

<table>
  <tr>
    <% tokens.each do |token| %>
      <td>
        <form action="/player_1" method="post">
          <input type="image" src="<%=token.url %>" height="82" width="82" name="player_1_token" value="<%= token.name %>">
        </form>
      </td>
    <% end %>
    <td>(<%= players[0].name %>)</td>
  </tr>
  <tr>
      <% tokens.each do |token| %>
        <td>
          <form action="/player_2" method="post">
            <input type="image" src="<%=token.url %>" height="82" width="82" name="player_2_token" value="<%= token.name %>">
          </form>
        </td>
      <% end %>
      <td>(<%= players[1].name %>)</td>
    </tr>
</table>

<% if (token_1 != "") || (token_2 != "") %>
  <form action="/game" method="post">
    <input type="text" placeholder="player one choice" name="player_1_token_name" value=<%= token_1 %>>
    <br>
    <br>
    <input type="text" placeholder="player two choice" name="player_2_token_name" value=<%= token_2 %>>
    <br>
    <br>
    <input type="submit" value="SHOOT!">
  </form>
<% else %>
  <form action="/game" method="post">
    <input type="text" placeholder="player one choice" name="player_1_token_name"/>
    <br>
    <br>
    <input type="text" placeholder="player two choice" name="player_2_token_name"/>
    <br>
    <br>
    <input type="submit" value="SHOOT!">
  </form>
<% end %>

<% if winner %>
  <% if winner == "Draw."%>
    <p><%= winner %></p>
  <% else %>
  <p><%= winner %> is the winner!</p>
  <% end %>
<% end %>
