<div class='row body'>
  <% if @was_tie %>
    <div class='small-12 columns'>
      THE GAME WAS A TIE... SHOOT AGAIN!
    </div>
  <% end %>
</div>
<div class='row body'>
  <div class='small-12 columns'>
    <div class='row'>
      <% tokens.each do |token| %>
        <div class="small-4 columns">
          <img class='throw' src='<%=token.url%>' alt='<%=token.name%>' />
        </div>
      <%end%>
    </div>
    <form action='/games' method='post'>
      <div class='row'>
        <% players.each do |player| %>
          <input type="hidden" name='player_id[]' value="<%= player.id %>" />
          <div class="small-6 columns">
            <h4><%= player.username %></h4>
            <div class='row'>
              <div class='small-12 columns'>
                <label>Choose Your Token</label>
                <select name='player_throw[]'>
                  <% tokens.each do |token| %>
                    <option value='<%=token.id%>'>
                      <%= token.name %>
                    </option>
                  <%end%>
                </select>
              </div>
            </div>
          </div>
        <% end %>
        <input class='btn' type='submit' value='Shoot' />
      </div>
    </form>
  </div>
</div>
