<h1>Players, Make Your Choice!</h1>
<% tokens.each do |token| %>
  <form action="/player_1" method="post">
    <input type="image" src="<%=token.url %>" height="82" width="82" name="player_1_token" value="<%= token.name %>">
    <br>
    <br>
  </form>
<% end %>

<% if token_1 != "" %>
  <form action="/game" method="post">
    <input type="text" placeholder="player one choice" name="player_1_token_name" value=<%= token_1 %>>
    <br>
    <br>
    <input type="text" placeholder="player two choice" name="player_2_token_name"/>
    <br>
    <br>
    <input type="submit" value="SHOOT!">
  </form>
<% else %>
  <form action="/game" method="post">
    <input type="text" placeholder="player one choice" name="player_1_token_name"/>
    <br>
    <br>
    <input type="text" placeholder="player two choice" name="player_2_token_name"/>
    <br>
    <br>
    <input type="submit" value="SHOOT!">
  </form>
<% end %>

<% if winner %>
  <% if winner == "Draw."%>
    <p><%= winner %></p>
  <% else %>
  <p><%= winner %> is the winner!</p>
  <% end %>
<% end %>
