
<p> Here are the results you passed into the form</p>

<p>Player 1 id: <%= @current_game.player_1_id %></p>
<p>Player 2 id: <%= @current_game.player_2_id %></p>
<p>Player token id: <%= @current_game.player_1_token_id %></p>
<p>Player token id: <%= @current_game.player_2_token_id %></p>
<br />
<br />
<br />
<br />
<p>Winner is Player: <%= @winner %></p>
<p>Loser is Player: <%= @loser %></p>


