

<div id="container">
  <div>
  <table style="width:50%">
    <caption>Rock-Paper-Scissors Hall of Fame</caption>
    <tr>
      <th>Game #</th>
      <th>Winner</th>
      <th>Loser</th>
    </tr>

    <% records.each do |game| %>
    <tr>
      <td>Game #:<%= game.id%></td>
      <td>Player: <%= game.winner_id%></td>
      <td>Player: <%= game.loser_id%></td>
    </tr>
    <% end %>

  </table>
  </div>


  <div>
  <table style="width:50%">
    <caption>Rock-Paper-Scissors Statistics</caption>
    <tr>
      <th>Player</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>

    <tr>
      <th>Player 1</th>
      <th><%= player1.winners.count %></th>
      <th><%= player1.losers.count %></th>
    </tr>
    <tr>
      <th>Player 2</th>
      <th><%= player2.winners.count %></th>
      <th><%= player2.losers.count %></th>
    </tr>


  </table>
  </div>


  <a href="/game"><h2>Play again if you have nothing left to do!</h2></a>

</div>