<div id="current_game_stats">
  <p><%= @winner.name %> for the win with <%= @winner_token %>!!!!</p>
</div>
<div id="winner">
  <h2>winner stats</h2>
  <h3><%= @winner.name %></h3>
  <ul>
    <li>Wins: <%= @winner_wins %></li>
    <li>Losses: <%= @winner_losses %></li>
  </ul>
</div>
<div id="loser">
  <h2>loser stats</h2>
  <h3><%= @loser.name %></h3>
  <ul>
    <li>Wins: <%= @loser_wins %></li>
    <li>Losses: <%= @loser_losses %></li>
  </ul>
</div>
<form action="/game" method="get">
  <button type="submit">play again</button>
</form>
