
<div class="media">
  <div class="media-left">
    <a href="/game/new/<%=@user.id%>">
      <img class="media-object" src="<%=@user.spiritanimal%>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Welcome the the Dojo, <%=@user.email%></h4>
<hr>
<p><a class="btn btn-primary btn-lg" href="/game/new/<%=@user.id%>" role="button">Play <%=@user.spiritanimalname%></a></p>
<p><a class="btn btn-primary btn-lg" href="/guest/<%=@user.id%>" role="button">Play Guest</a></p>
  </div>
</div>
