<table>
<td>
  <h3>Make a choice Player 1 </h3>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/rock.jpg" alt="..." data-id="1">
    </a>
   <button type="button" class="btn btn-default navbar-btn">Rock</button>
  </div>
  ...
</div>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/paper.jpg" alt="..."data-id="2">
    </a>
     <button type="button" class="btn btn-default navbar-btn">Paper</button>
  </div>
  ...
</div>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/scissors.jpg" data-id="3">
    </a>
     <button type="button" class="btn btn-default navbar-btn">Scissors</button>
  </div>
  ...
</div>
</tr>
<tr>

  <h3>Make a choice Player 2 </h3>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/rock.jpg" data-id="1">
    </a>
     <button type="button" class="btn btn-default navbar-btn">Rock</button>
  </div>
  ...
</div>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/paper.jpg"data-id="2">
    </a>
     <button type="button" class="btn btn-default navbar-btn">Paper</button>
  </div>
  ...
</div>
<div class="row">
  <div class="col-md-3">
    <a href="/guest/game/<%= @game.id %>" class="thumbnail">
      <img src="/scissors.jpg" data-id="3">
    </a>
     <button type="button" class="btn btn-default navbar-btn">Scissors</button>
  </div>
  ...
</div>
</tr>
</table>
