<h1>Game's result</h1>
<p>Winner: <%=@winner.name%>, played with <%=@game.winning_token%></p>
<p>Looser: <%=@looser.name%>, played with <%=@game.losing_token%></p>
<h2 style ="margin-left: 140px">Other games results: </h2>
  <div id = "games">
    <ul>
      <% @games.each do |g| %>
      <div id="all-games">
        <li>
          <% winner = Player.find_by(id: g.winner_id)%>
          <% looser = Player.find_by(id: g.looser_id)%>
          <% winning_token = g.winning_token%>
          <% losing_token = g.losing_token%>
          <p>Game's <%=g.id%> results: </p>
          <p>winner: <%=winner.name%>, played with <%=winning_token%></p></p>
          <p>looser: <%=looser.name %>, played with <%=losing_token%></p><br>
        </li>
    </div>
      <% end %>
  </ul>
</div>
<h3><%=@player1.name%> won <%=@player1_wins.count%> times</h3>
<h3><%=@player2.name%> won <%=@player2.wins.count%> times</h3>
<a href="/game">play again</a>
